html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: black;
    background-color: white;
}

h1 {
    text-align: center;
}

.navnav {
    display: flex;
    border: 1px solid black;
}

.topnav img {
    width: 60px;

}

.topnav {
    position: fixed;
    width: 100%;
    background-color: white;
}

.topnav #myLinks {
    display: block;
    position: absolute;
    top: 10px;
    right: 0px;
    padding: 0;
    margin: 0;
    margin-right: 10px;
}


.topnav h2 {
    margin-left: 20px;
    margin-top: 15px;
}


.topnav a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: inline-block;

}

.topnav a img {
    width: 20%;
}

.topnav a:hover {
    background-color: red;
    color: white;
}

.home {
    height: 750px;
    background-color: yellow;
    padding-top: 50px;
    background-image: url(images/interieur.jpeg);
    background-size: cover;
    text-align: center;
}

.spatie {
    height: 250px;
}

.text {
    padding-top: 2px;
    background-color: white;
    height: 250px;
    width: 60%;
    margin: 0 auto;

}

.aboutus {
    height: 750px;
    background-color: teal;
    padding-top: 50px;
}

#contact {
    padding-top: 50px;
}

.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    height: 700px;
}

.contact img {
    border: 2px solid white;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 30px;
}

.contact div {
    display: inline-block;
    text-align: center;
    margin: 100px auto;
}

footer p {
    text-align: center;
}