html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: black;
    background-color: white;
}

h1 {
    text-align: center;
}

.navnav {
    display: flex;
    border: 1px solid black;
}

.topnav img {
    width: 60px;
    height: 60px;

}

.topnav {
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 1;
}

.topnav #myLinks {
    display: block;
    position: absolute;
    top: 10px;
    right: 0px;
    padding: 0;
    margin: 0;
    margin-right: 10px;
}


.topnav h2 {
    margin-left: 20px;
    margin-top: 20px;
}


.topnav a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: inline-block;

}

.topnav a img {
    width: 20%;
}

.topnav a:hover {
    color: white;
}

.topnav .homee:hover {
    background-color: lightblue
}

.topnav .aboutt:hover {
    background-color: red;
}

.topnav .conne:hover {
    background-color: black;
}

.home {
    height: 750px;
    background-color: yellow;
    padding-top: 50px;
    background-image: url(images/interieur.jpeg);
    text-align: center;
    background-size: cover;
}

.spatie {
    height: 250px;
}

.text {
    padding-top: 2px;
    background-color: white;
    height: 250px;
    width: 60%;
    margin: 0 auto;
}

.text p {
    font-size: 18px;
}

#aboutus {
    padding-top: 50px;
}

.aboutus {
    height: 750px;
    display: flex;
    padding-top: 50px;
    color: white;

}

.Visie {
    padding: 50px;
    background-color: lightblue;
    transition: transform .2s;
    width: 300px;
    height: 450px;
    margin: 0 auto;
    text-align: left;
    border-radius: 20px;
}

.Visie h2 {
    text-align: center;
}

.Visie:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}

.Missie {
    padding: 50px;
    background-color: red;
    transition: transform .2s;
    width: 300px;
    height: 450px;
    margin: 0 auto;
    text-align: center;
    border-radius: 20px;
}

.Missie:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.2);
}


.Doelstellingen {
    padding: 50px;
    background-color: black;
    transition: transform .2s;
    width: 300px;
    height: 450px;
    margin: 0 auto;
    text-align: center;
    border-radius: 20px;
}

.Doelstellingen:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}

#more {
    display: none;
}

#contact {
    padding-top: 50px;
}

.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    height: 360px;
}

.contact img {
    border: 2px solid white;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 30px;
}

.contact div {
    display: inline-block;
    text-align: center;
    margin-left: 45px;
}

.kaart {
    display: flex;
}

.kaart h2 {
    text-align: center;
    margin: auto;
}

.kaart img {
    height: 200 px;
    width: 500px;
    object-fit: cover;
    margin: auto;
    border-radius: 10px;
    border: 2px solid black;
}

footer p {
    text-align: center;
}